**/.DS_Store
.states/
01_Solidity/artifacts/
/hardhat-project/node_modules/
/hardhat-project/cache/
/hardhat-project/artifacts/
/hardhat-project/ignition/deployments/
/hardhat-todolist/node_modules/
/hardhat-todolist/cache/
/hardhat-todolist/artifacts/
/hardhat-todolist/.env
/hardhat-todolist/ignition/deployments/
.deps/
02_SolidityHigher/artifacts/
02_SolidityHigher/node_modules/
level2/artifacts/
.idea/web3.0.iml
*.iml
/.idea
/my-go-ethereum/wallet/
/my-go-ethereum/tmp/
/02_SolidityHigher/node_modules/
.idea/vcs.xml
/go-ethereum/
/my-go-ethereum/pkg/mod/
/Projects/RCCStake/node_modules/
/Projects/RCCStake/ignition/deployments/
/Projects/RCCStake/artifacts/
/Projects/RCCStake/cache/
/Projects/HelloVitalik/node_modules/
